.App-summary-content {
    grid-area: summary;
    margin-left: 24px;
  }
  
  .App-detailed-content {
    grid-area: detailed;
    margin-right: 24px;
  }

.App-full-width-content {
    grid-area: fullWidth;
    margin-left: 24px;
    margin-right: 24px;
  }