.App-summary-content {
  grid-area: summary;
  margin-left: 24px;
}

.App-detailed-content {
  grid-area: detailed;
  margin-right: 24px;
}

.heating-cooling-button-group {
  text-align: left;
  font-size: 12px;
  margin-bottom: 16px;
}

.heating-cooling-button-inactive {
  color: black;
  border: 2px solid gray;
  background-color: white;
  width: 96px;
}

.heating-cooling-button-active {
  color: white;
  background-color: gray;
  border: 2px solid gray;
  width: 96px;
}