

.heating-cooling-button-group {
  text-align: left;
  font-size: 12px;
  margin-bottom: 16px;
}

.heating-cooling-button-inactive {
  color: black;
  border: 1px solid gray;
  background-color: white;
  width: 96px;
  outline: none !important;
}

.heating-cooling-button-active {
  color: white;
  background-color: gray;
  border: 1px solid gray;
  width: 96px;
  outline: none !important;
}