.dropdown {
    text-align: left;
  }

.dropdown-toggle::after {
  position: relative;
  display: inline-block;
  float: right;
  vertical-align: middle;
  color: #808080;
  margin-top: 4px;
}

.form-control{
  font-size: 12px;
}

.rc-pagination {
  margin-left: 1rem!important;
  font-size: 12px;
}

.dropdown-menu {
  font-size: 12px;
  position: fixed !important;
}

.btn-primary {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
}

.btn {
  font-size: 12px;
  text-align: left;
  color: #000000;
  line-height: 1;
  border-radius: 0;
  margin-bottom: 16px;
  width: 220px;
  padding: 4px .375rem;
}