.App-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 220px;
  }
  
  .App-card-header {
    font-size: 12px;
    line-height: 0.6;
  }
  
  .App-card-body {
    font-size: 11px;
    line-height: 0.4;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
  }