.tab-control {
    display: inline-block;
    height: 38px;
  }

  .tab-active {
    border-top: 2px solid #0696d7;
    background-color: #FFFFFF;
    font-size: 12px;
    height: 40px;
  }
  
  .tab-inactive {
    border: none;
    background-color: #EEEEEE;
    font-size: 12px;
  }