.App {
  font-family: 'ArtifaktElement-Regular';
  text-align: center;
  width: 100vw;
  display: grid;
  grid-template-columns: 250px 730px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "navigation navigation"
    "summary detailed"
    "fullWidth fullWidth";
  row-gap: 0px;
  justify-content: center;
  min-width: min-content;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-navigation {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  margin-bottom: 16px;
  height: 52px;
  background-color: #EEEEEE;
  grid-area: navigation;
}

.App-summary-content {
  grid-area: summary;
  margin-left: 24px;
}

.App-detailed-content {
  grid-area: detailed;
  margin-left: 6px;
}

.App-full-width-content {
  grid-area: fullWidth;
  margin-left: 24px;
  margin-right: 24px;
}

.App-link {
  color: #61dafb;
}

.App-buttons {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.App-button-group {
  display:flex;
  flex-direction:row;
}

.navigation-group-left {
  float: left;
}

.navigation-group-right {
  float: right;
}

.right-header-select {
  display: inline-block;
  border-style: none;
  outline: none;
  background-color: #EEEEEE;
}

.nav-dropdown-select {
  border-bottom: 1px solid #CCCCCC;
}

.button {
  display: inline-block;
  height: 24px;
  border-style: none;
  outline: none; 
  background-color: #EEEEEE;
  font-size: 12px;
  padding-right: 0px;
}

.button-active {
  background-color: #FFFFFF;
}