.App {
  text-align: center;
  width: 980px;
  display: grid;
  grid-template-columns: 300px 680px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "navigation navigation"
    "summary detailed"
    "fullWidth fullWidth";
  column-gap: 12px;
  row-gap: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-buttons {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.App-button-group {
  display:flex;
  flex-direction:row;
}

.App-table {
  font-size: 9px;
}

.App-navigation {
  margin-top: 12px;
  margin-right: 24px;
  margin-bottom: 16px;
  margin-left: 24px;
  height: 40px;
  background-color: #EEEEEE;
  grid-area: navigation;
};

.navigation-group-left {
  float: right;
}

.navigation-group-right {
  float: right;
}

.tab {
  display: inline-block;
  height: 24px;
  margin-bottom: 16px;
  border-style: none;
  outline: none; 
  background-color: #EEEEEE;
}

.tab-active {
  border-style: none;
  outline: none; 
  background-color: #FFFFFF;
}

.right-header-select {
  display: inline-block;
  border-style: none;
  outline: none;
  background-color: #EEEEEE;
}

.button {
  display: inline-block;
  height: 24px;
  border-style: none;
  outline: none; 
  background-color: #EEEEEE;
  font-family: ArtifaktElement-Regular;
  font-size: 12px;
}

.button-active {
  background-color: #FFFFFF;
}